# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Get your OpenAI API key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=
# OPTIONAL: OpenAI Base URL (default to https://api.openai.com/v1)
OPENAI_BASE_URL=

# OPTIONAL: Vercel Blob (for uploading images)
# Get your Vercel Blob credentials here: https://vercel.com/docs/storage/vercel-blob/quickstart#quickstart
BLOB_READ_WRITE_TOKEN=

# OPTIONAL: Vercel KV (for ratelimiting)
# Get your Vercel KV credentials here: https://vercel.com/docs/storage/vercel-kv/quickstart#quickstart
KV_REST_API_URL=
KV_REST_API_TOKEN=
